@font-face {
  font-family: Medieval;
  src: url("./font/MedievalSharp-Regular.ttf");
}

@font-face {
  font-family: Forum;
  src: url("./font/Forum-Regular.ttf");
}

html {
    --color1: #e0e2db;
    --color2: #191716;
    --color3: #e6af2e;
    --color4: #33333d;
    font-family: Forum;
}

#header {
    width: 100vw;
    height: 8rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color2);
    color: var(--color3);
    box-shadow: 1px 1px 4px black;
}

h1 {
    font-family: Medieval;
    margin: 0;
}

#care {
    margin:0;
    color: var(--color1);
}

#Library {
    margin-left: 2rem;
}

.doStuff {
    padding: 0.5rem;
    background-color: var(--color1);
    color: var(--color2);
    border: none;
    border-radius: 10px;
    background-color: var(--color1);
    color: var(--color2);
}

#addBook {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

#add {
    width: 1.2rem;
    height: 1.2rem;
    fill: var(--color2);
}

.doStuff:hover {
    background-color: var(--color3);
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#main {
    display: flex;
    flex-wrap: wrap;
    padding: 0.6rem;
}

.card {
    width: 12rem;
    height: 14rem;
    padding: 1rem;
    margin: 0.6rem;
    border: none;
    border-radius: 10px;
    background-color: var(--color4);
    color: var(--color1);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    box-shadow: 1px 1px 4px grey;
}

.bookInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bookInfo > p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    text-align: end;
}

.bI {
    font-weight: bold;
}

#newBook {
    position: absolute;
    justify-self: center;
    align-self: center;
    width: 16rem;
    height: 20rem;
    padding: 1rem;
    margin: 0.6rem;
    border: solid 1px;
    border-radius: 10px;
    border-color: var(--color3);
    background-color: var(--color4);
    color: var(--color1);
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    box-shadow: 1px 1px 4px grey;
}

#newBook:open {
    display:flex;
}

#formButtons {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

form {
    display:flex;
    justify-content: space-between;
}

input {
    border-radius: 4px;
    border-color: #E5E7EB;
    border-width: 1px;
    width: 8rem;
}

input:user-valid {
    border-color: green;
}

input:user-invalid {
    border-color: red;
}

input:focus {
    border-color: blue;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 20%);
}